header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  left: 160px;
  position: absolute;
  top: px;
  width: 300px;
}

header img {
  border-radius: 50%;
  width: 45px;
}

.info-container {
  margin-left: 5px;
  margin-top: 25px;
  width: 500px;
}

.nome {
  width: 500px;
}
